.vertical-text {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.vertical-input-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

    > label {
        margin: 0px;
        margin-right: 10px;
    }
}

#submit {
    margin: auto;
}

#main-wrapper {
    align-items: center;
    > div {
        padding: 10px;
    } 
}

.auto-margin {
    margin: auto;
}